In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["columns1","columns2","columns3","columns4"])

In [5]:
df.head()

      columns1  columns2  columns3  columns4
Row1         0         1         2         3
Row2         4         5         6         7
Row3         8         9        10        11
Row4        12        13        14        15
Row5        16        17        18        19

In [6]:
df.to_csv('Test1.csv')

In [7]:
## Accsing the element

In [8]:
# 1. loc 2. .iloc

In [9]:
df.loc['Row1']

columns1    0
columns2    1
columns3    2
columns4    3
Name: Row1, dtype: int32

In [10]:
type(df.loc['Row1'])

pandas.core.series.Series

In [11]:
df.iloc[0:3,0:2]

      columns1  columns2
Row1         0         1
Row2         4         5
Row3         8         9

In [12]:
type(df.iloc[0:3,0:2])

pandas.core.frame.DataFrame

In [13]:
df.iloc[0:2,0:2]

      columns1  columns2
Row1         0         1
Row2         4         5

In [14]:
type(df.iloc[0:2,0:2])

pandas.core.frame.DataFrame

In [15]:
df.iloc[0:2,0:1]

      columns1
Row1         0
Row2         4

In [16]:
type(df.iloc[0:2,0:1])

pandas.core.frame.DataFrame

In [17]:
## take the element from the column2

In [18]:
df.iloc[:,1:]

      columns2  columns3  columns4
Row1         1         2         3
Row2         5         6         7
Row3         9        10        11
Row4        13        14        15
Row5        17        18        19

In [19]:
type(df.iloc[:,1:])

pandas.core.frame.DataFrame

In [20]:
## Convert Dataframe into Array

In [21]:
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [22]:
df.iloc[:,1:].values.shape

(5, 3)

In [23]:
df.isnull().sum()

columns1    0
columns2    0
columns3    0
columns4    0
dtype: int64

In [24]:
df['columns1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: columns1, dtype: int64

In [25]:
df['columns1'].unique

<bound method Series.unique of Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: columns1, dtype: int32>

In [26]:
## Multiple Columns Name

In [27]:
df[['columns3','columns4']]

      columns3  columns4
Row1         2         3
Row2         6         7
Row3        10        11
Row4        14        15
Row5        18        19

In [28]:
type([['columns3','columns4']])

list

In [29]:
df['columns1'].unique()

array([ 0,  4,  8, 12, 16])

In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('data.csv')

In [7]:
df.head()

    x1   x2   x3   x4     x5   x6      y  Unnamed: 7  Unnamed: 8
0  0.0  1.0  0.0  2.0  183.0  1.0  128.0         NaN         NaN
1  0.0  0.0  0.0  2.0  194.0  0.0  127.0         NaN         NaN
2  1.0  0.0  0.0  1.0  161.0  0.0  174.0         NaN         NaN
3  0.0  0.0  0.0  1.0   73.0  0.0  192.0         NaN         NaN
4  0.0  0.0  1.0  2.0  147.0  1.0  386.0         NaN         NaN